body {
  padding: 0px;
  margin: 0px;
}
nav {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 45px;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid white;
}
nav > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 200px;
}
#upper-intro {
  /* background-image: linear-gradient( to bottom,rgb(22, 57, 22),black); */
  background-image: linear-gradient(to bottom, rgb(46, 31, 17), black);
  width: 100%;
  height: 800px;
  position: absolute;
  z-index: -2;
}
#avatars {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}
#avatars > img {
  height: 600px;
  width: auto;
  margin-top: 150px;
}
#lower-intro {
  height: 745px;
}
#intros {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  /* margin-left: 200px; */
}
.intro {
  height: 50px;
  width: 100px;
  background-color: rgb(46, 31, 17);
}
#projects {
  height: 810px;
  display: grid;
  grid-template-columns: 3fr 4fr;
}
#left {
  background-image: linear-gradient(to right, rgb(46, 31, 17), rgb(17, 13, 9));
}
#right {
  background-image: linear-gradient(to right, rgb(17, 13, 9), black);
}
#left > h1 {
  margin-top: 250px;
  font-size: 100px;
  color: azure;
}
#about {
  height: 781px;
  background-color: rgb(45, 25, 18);
}
