

body{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: black;
    color: white;
    height: 45px;
}
nav>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 200px;
}
#upper-intro{
    /* background-image: linear-gradient( to bottom,rgb(22, 57, 22),black); */
    background-image: linear-gradient( to bottom,rgb(46, 31, 17),black);
    height: 800px;
}
#avatars{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}
#avatars>img{
    height: 600px;
    width: auto;
    margin-top: 150px;
}
/* #lower-intro{
    background-color: black;
    height: 200px;
} */
/* #091a0d */